@import "variables.scss";
@import "price-cards.scss";

* {
  box-sizing: border-box;
}

html {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #141b1c;
}

.basic-background {
  background-color: $basic-price-background;
}

.business-background {
  background-color: $business-price-background;
}

.webshop-background {
  background-color: $webshop-price-background;
}
