.price-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.price-card {
  margin-right: 18px;
  position: relative;
  overflow: hidden;
  padding-top: 3px;
  width: 380px;
  height: 770px;
  background-color: $main-price-cards-background;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    display: flex;
    height: 130px;

    & > h3 {
      margin: auto;
      font-size: 20px;
      font-weight: 300;
      line-height: 24.38px;

      &::first-line {
        font-size: 35px;
        font-weight: 700;
        line-height: 42.67px;
      }
    }
  }

  &__price {
    display: flex;
    margin-top: 0;
    height: 105px;
    background-color: $basic-price-background;

    & > p {
      margin: auto;
      font-size: 55px;
      font-weight: 700;
    }
  }

  &__description {
    width: 327px;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
  }

  &__options-list {
    margin-bottom: 39px;
    padding-left: 0;
    text-align: start;

    & > li {
      display: block;
      position: relative;
      height: 50px;
      font-size: 15px;
      line-height: 18px;
      padding-left: 59px;
      line-height: 50px;
      cursor: pointer;

      &:hover {
        filter: brightness(1.4);
      }

      &:nth-child(odd) {
        background-color: $secondary-price-cards-backgound;
      }

      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 13px;
        background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png)
          center no-repeat;
        left: 22px;
        top: 19px;
      }
    }
  }

  &:nth-child(2) li::before {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png)
      center no-repeat;
  }

  &:nth-child(3) li::before {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png)
      center no-repeat;
  }

  &__order-btn {
    width: 154px;
    height: 40px;
    border-radius: 20px;
    background-color: $basic-price-background;
    border: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      filter: brightness(1.4);
    }
  }

  &__promotion {
    display: flex;
    position: absolute;
    left: 264px;
    top: -1.5px;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    width: 147px;
    height: 25px;
    background-color: $special-offer-background;
    font-size: 14px;
    font-weight: 700;
  }
}
