$base-background: rgba(51, 66, 71, 1);
$second-backgound: rgba(42, 52, 56, 1);

.blue-background {
  background-color: rgba(58, 107, 165, 1);
}

.orange-background {
  background-color: rgba(236, 99, 42, 1);
}
