$main-price-cards-background: #334247;
$secondary-price-cards-backgound: #2a3438;
$special-offer-background: #dc3f45;
$basic-price-background: #5bb189;
$business-price-background: #3a6ba5;
$webshop-price-background: #ec632a;
$the-main-text-color: #ffffff;
$body-background-color: #141b1c;
